project1/.git
project2/.git

np_simple
np_single_proc
np_multi_proc

working_dir
!working_dir/test.html
testcase
311511034.zip
testing/output
testing/work_dir
testing/work_dir_2
testing/work_template
testing/work_template_2